<form action="/test" method="POST">
<button type="submit">Delete</button>
  <ul>
    <li>
        <input type="checkbox" id="cb1" name="photos" value="photos2018-12-17T07-22-05.943Zimg_lights.jpg"/>
        <label for="cb1" class="img-label">
          <span class="img-span"></span>
        <a href="photos2018-12-17T07-22-05.943Zimg_lights.jpg" target="_blank">
        <img src="photos2018-12-17T07-22-05.943Zimg_lights.jpg" />
        </a>
    </label>
  </li>
  <li>
        <input type="checkbox" id="cb2" name="photos" value="photos2018-12-23T07-20-54.645Zhd-wallpapers-1.jpg"/>
        <label for="cb2" class="img-label">
          <span class="img-span"></span>
        <a href="photos2018-12-23T07-20-54.645Zhd-wallpapers-1.jpg" target="_blank">
        <img src="photos2018-12-23T07-20-54.645Zhd-wallpapers-1.jpg" />
        </a>
    </label>
  </li>
  <li>
        <input type="checkbox" id="cb3" name="photos" value="photos2018-12-25T05-33-27.249Zpreview_vatna-glacier-icelend.jpg"/>
        <label for="cb3" class="img-label">
          <span class="img-span"></span>
        <a href="photos2018-12-25T05-33-27.249Zpreview_vatna-glacier-icelend.jpg" target="_blank">
        <img src="photos2018-12-25T05-33-27.249Zpreview_vatna-glacier-icelend.jpg" />
        </a>
    </label>
  </li>
  
</ul>

</form>